.App{
  background-color: #084F85;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App h1{
  margin-block-start: 0;
  text-align: center;
  font-weight: bolder;
}
.simulador-container{
  background-color: #003B67;
  color:white;
  width: 50%;
  padding: 2rem 4rem;
}

input{
  border: 1px solid white;
  background-color: transparent;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  width: 30%;
}

button{
  font-family: 'Montserrat', sans-serif;
  color:white;
  cursor: pointer;
  border:none;
  font-weight: bolder;
  padding: 0.7rem;
}

.titulo{
  display:flex;
  justify-content:space-between;
  margin-bottom:1rem
}

.numeros{
  display:flex;
  justify-content:space-between
}

button.credito{
 width: 70%;
 font-size: 1.3rem;
 background-color: #17AA8D;
 
 
}
button.detalle{
  width: 30%;
  margin-left: .5rem;
  font-size: 0.9rem;
  background-color: #0B548B;
  
}
h2.cuota{
  font-size: 2rem;
}
.container-cuota{
  background-color:#00355D;
  display:flex;
  justify-content:space-around;
  align-items: center;
}